* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'MuseoModerno', cursive;
    font-weight: 400;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-padrao-1);
}

img {
    max-width: 100%;
}