@media(max-width: 1200px) {
    .logo img {
        padding-right: 0;
    }

    .cabecalho .container {
        flex-direction: column;
    }

    .cabecalho .logo {
        flex-direction: column;
        padding-bottom: 45px;
    }

    .cabecalho .logo h2 {
        font-size: 1.2rem;
    }

    .secao-principal {
        flex-direction: column;
    }

    .sobre-mim,
    .habilidades-tecnicas {
        margin: 15px 10px;
        padding: 20px;
    }
}

@media(max-width: 845px) {
    .menu {
        flex-direction: column;
    }

    .menu li {
        padding-bottom: 30px;
    }

    .menu li a {
        padding: 10px 20px;
        margin: 0;
    }
}

@media(max-width: 605px) {
     .cabecalho .container {
        padding: 20px 0;
    }

    .menu li a {
        font-size: 1.5rem;
    }

    .sobre-mim .texto,
    .habilidades-tecnicas .texto {
        font-size: 1.5rem;
    }

    .sobre-mim {
        flex-direction: column;
        text-align: center;
    }

    .sobre-mim h1 {
        font-size: 4rem;
    }

    .habilidades-tecnicas h2,
    .habilidades-tecnicas i,
    .projetos h2 {
        font-size: 3.5rem;
    }

    .rodape .contato a {
        font-size: 3rem;
        margin: 0 10px;
    }

    .rodape .contato a:last-child {
        font-size: 2.5rem;
    }
}



