@media(max-width:1650px) {
    .cabecalho {
        padding: 10px 55px;
    }

    .cabecalho .logo h2 {
        font-size: 16px;
    }

    .menu li a {
        font-size: 18px;
    }

    .sobre-mim h1 {
        font-size: 50px;
    }

    .sobre-mim p {
        font-size: 16px;
    }

    .habilidades-tecnicas h2 {
        font-size: 35px;
    }

    .habilidades-tecnicas i {
        font-size: 50px;
    }

    .habilidades-tecnicas li p {
        font-size: 16px;
    }
}

@media(max-width:1200px) {
    .logo img {
        padding-right: 0;
    }

    .cabecalho {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cabecalho .logo {
        flex-direction: column;
        padding-bottom: 50px;
        align-items: center;
        justify-content: center;
    }

    .menu {
        padding-bottom: 35px;
    }

    .secao-principal {
        flex-direction: column;
    }

    .sobre-mim,
    .habilidades-tecnicas {
        margin: 5px;
    }
}

@media(max-width:785px) {
    .cabecalho .logo h2 {
        font-size: 12px;
    }
    .menu {
        flex-direction: column;
    }

    .menu li {
        padding-bottom: 35px;
    }

    .menu li a {
        padding: 10px 20px;
        margin: 0;
        transition: 0.3 ease-in-out;
    }

    .menu li a:hover {
        background-color: #29ffe9;
        color: #000
    }
}

@media(max-width:575px) {
    .menu li a {
        font-size: 15px;
    }

    .sobre-mim {
        flex-direction: column;
    }

    .sobre-mim h1 {
        font-size: 40px;
    }

    .habilidades-tecnicas {
        font-size: 35px;
    }
}


