@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;600;900&display=swap');

html {
    background-image: var(--html-bg-img);
    background-attachment: fixed;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

.container {
    max-width: 1650px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.cabecalho {
    background-color: var(--bg-color-secoes);
}

.cabecalho .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 35px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    padding-right: 20px;
}

.cabecalho .logo h2 {
    color: var(--cor-padrao-2);
    font-size: 1.8rem;
    text-transform: uppercase;
}

.cabecalho .logo h2:hover {
    font-weight: 600;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li a {
    font-size: 18px;
    gap: 35px;
    padding: 20px;
    transition: 0.3s ease-in-out;
}

.menu li a:hover {
    background-color: var(--cor-padrao-2);
    color: var(--bg-color-secoes);
}

.secao-principal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.secoes-iniciais {
    max-width: 1650px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.sobre-mim {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color-secoes);
    max-width: 750px;
    padding: 35px;
    margin: 50px;
    box-shadow: 8px 5px 5px var(--cor-padrao-2);
}

.sobre-mim h1,
p {
    background-image: linear-gradient(to top, var(--cor-padrao-1), var(--cor-padrao-2));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.sobre-mim h1 {
    font-weight: 900;
    font-size: 55px;
}

.sobre-mim .foto {
    width: 220px;
    height: 300px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-mim .foto::before {
    content: " ";
    background: linear-gradient(var(--cor-padrao-1), var(--cor-padrao-2));
    width: 180px;
    height: 140%;
    position: absolute;
    animation: rotate 6s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(-360deg);
    }
}

.sobre-mim .foto::after {
    content: " ";
    background: url(../images/foto.jpg) center no-repeat;
    background-size: contain;
    position: absolute;
    border-radius: 3px;
    inset: 6px;
}

.sobre-mim p {
    padding-top: 15px;
    font-size: 1.8rem;
}

.sobre-mim .btn-curriculo {
    background-color: var(--cor-padrao-2);
    color: var(--bg-color-secoes);
    padding: 15px 35px;
    margin-top: 10px;
    font-size: 1.8rem;
    border-radius: 3px;
    box-shadow: 8px 5px 5px var(--cor-padrao-1);
    transition: 0.3s ease-in-out;
}

.sobre-mim .btn-curriculo:hover {
    font-weight: 600;
    color: var(--cor-padrao-1);
}

.habilidades-tecnicas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color-secoes);
    max-width: 550px;
    padding: 25px 30px;
    margin: 50px;
    box-shadow: 8px 5px 5px var(--cor-padrao-1);
}

.habilidades-tecnicas i {
    font-size: 6.5rem;
}

.habilidades-tecnicas h2,
li {
    background-image: linear-gradient(to left, var(--cor-padrao-1), var(--cor-padrao-2));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.habilidades-tecnicas h2 {
    font-weight: 650;
    font-size: 4rem;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto;
}

.habilidades-tecnicas li p {
    font-size: 1.8rem;
}

.habilidades-tecnicas li p:last-child {
    padding-bottom: 10px;
}

.rodape {
    background-color: var(--bg-color-secoes);
    padding: 30px 20px 10px;
    margin-top: 50px;
    text-align: center;
}

.rodape .contato {
    max-width: 500px;
    padding-bottom: 45px;
    animation: pulse 1.5s infinite;
    margin: 0 auto;
}

.rodape .contato a {
    color: var(--cor-padrao-2);
    font-size: 4rem;
    margin: 0 25px;
    transition: 0.3s ease-in-out;
}

.rodape .contato a:last-child {
    font-size: 3.5rem;
}

.rodape .contato a:hover {
    color: var(--cor-padrao-1);
}