@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;600;900&display=swap');

html {
    background-image: url('../images/fundo-fitas.jpg');
    background-attachment: fixed;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d1321;
    padding: 10px 100px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    padding-right: 20px;
}

.cabecalho .logo h2 {
    color: #29ffe9;
}

.cabecalho .logo h2:hover{
    font-weight: 900;
}

.minha-foto {
    max-width: 220px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li a {
    font-size: 18px;
    margin-left: 20px;
    padding: 20px;
    transition: 0.3s step-end;
}

.menu li a:hover {
    color: #29ffe9;
}

.sobre-mim,
.habilidades-tecnicas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #0d1321;
    max-width: 850px;
    padding: 20px;
    margin: 50px ;
}

.sobre-mim h1, p {
    background-image: linear-gradient(to top, #8c1351, #29ffe9);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.sobre-mim h1 {
    font-weight: 900;
    font-size: 55px;
}

.sobre-mim p {
    display: inline-block;
    padding-top: 15px ;
    font-weight: 400;
    font-size: 18px;
}

.curriculo {
    font-size: 35px;
    padding: 0 20px;
    border-radius: 20px;
    background-color: #8c1351;
    color: #29ffe9;
}

.curriculo i {
    font-size: 40px;
}

.secao-principal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.habilidades-tecnicas {
    max-width: 620px;
}

.habilidades-tecnicas i {
    font-size: 65px;
}

.habilidades-tecnicas h2, li {
    background-image: linear-gradient(to bottom, #8c1351, #29ffe9);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.habilidades-tecnicas h2 {
    font-weight: 650;
    font-size: 45px;
    padding-bottom: 20px;
}

.habilidades-tecnicas li p {
    font-size: 18px;
}


